.car {
  display: flex;
  margin: 10px;
  padding: 10px;

  &__details {
    width: 60%;

    &-header {
      display: flex;
      justify-content: space-between;

      &__search-box {
        width: 60%;

        input {
          width: 50%;
        }
        li {
          background: $astronomical-silver;
          cursor: pointer;
          list-style-type: none;
          width: 51%;

          &:hover {
            background: $cool-gray-96;
          }
        }
      }

      &__csv-upload {
        .csv-upload-form {
          &__successful {
            color: blue;
            font-size: 15px;
          }

          &__unsuccessful {
            color: red;
            font-size: 15px;
          }
        }
      }
    }
  }

  &__graphic {
    width: 40%;
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
  }

  &__header {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    padding-right: 10px;
    padding-left: 8px;
    margin:   0px;
  }

  &__title {
    color: $bogus-licorice;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: left;
  }

  &__data {
    border-top: 1px solid $comparative-snow;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 10px;
  }

  &__data:nth-child(odd) {
    background: $astronomical-silver;
  }

  &__value {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    max-height: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 300px;
    white-space: nowrap;

    &--actions {
      justify-content: space-evenly;
    }
  }

  &__table {
    border: 1px solid $comparative-snow;
    border-top: none;
  }

  &-edit {
    display: flex;
    flex-direction: column;
    margin: auto;

    > label {
      margin: 10px 0;
      width: 100%;
    }

    &__title {
      padding-right: 10px;
    }

    &__error {
      color: red;
    }
  }
}
