.car {
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 10px;
  text-align: left;

  .search-box {
    input {
      width: 20%;
    }
    li {
      list-style-type: none;
      cursor: pointer;
    }
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
  }

  &__header {
    display: flex;
    font-size: 16px;
    font-weight: bold;
    justify-content: space-between;
    padding-left: 8px;
    padding-right: 10px;
  }

  &__title {
    color: $bogus-licorice;
    font-size: 36px;
    font-weight: bold;
    padding-bottom: 20px;
    text-align: left;
  }

  &__data {
    border-top: 1px solid $comparative-snow;
    display: flex;
    font-size: 16px;
    justify-content: space-between;
    padding: 10px;
  }

  &__data:nth-child(odd) {
    background: $astronomical-silver;
  }

  &__value {
    align-items: center;
    display: flex;
    justify-content: flex-start;
    max-height: 100px;
    width: 300px;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;

    &--actions {
      justify-content: center;
    }
  }

  &__table {
    border: 1px solid $comparative-snow;
    border-top: none;
  }

  &__edit {
    display: flex;
    flex-direction: column;

    > label {
      margin: 10px 0;
      width: 100%;
    }
  }
}
